<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded border-2 shadow">
    <h1 class="text-3xl font-light text-center text-green-600">register Now</h1>
    <form [formGroup]="register" (ngSubmit)="submitForm()" class="p-5">
        <div class="mb-1">
            @let nameControl=register.get('name');
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">name</label>
            <input formControlName="name" type="name" id="default-input" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
           @if (nameControl?.errors && nameControl?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                
                    <ul class="mt-1.5 list-disc list-inside">
                     @if (nameControl?.getError('required')) {
                        <li>name is requierd</li>
                     }
                     @else if (nameControl?.getError('minlength')) {
                        <li>name minLength : 3</li>
                     }
                     @else if (nameControl?.getError('maxlength')) {
                        <li>name maxLength : 20</li>
                     }
                     
                     
                      
                      
                  </ul>
                </div>
              </div>
           }
        </div>
       
        <div class="mb-1">
            @let emailControl=register.get('email');
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
            <input formControlName="email" type="email" id="default-input" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
         @if (emailControl?.errors && emailControl?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                  
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (emailControl?.getError('requierd')) {
                            <li>email is requierd</li>

                        }
                        @else if (emailControl?.getError('email')) {
                            <li>Enter vailed email </li>
                        }
                      
                   
                  </ul>
                </div>
              </div>
         }
            
        </div>


    
        <div class="mb-1">
           
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">password</label>
            <input formControlName="password" type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (register.get('password')?.errors && register.get('password')?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                      
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (register.get('password')?.getError('required')) {
                                <li>password is requierd</li>
    
                            }
                            @else if (register.get('password')?.getError('pattern')) {
                                <li>Enter vailed password </li>
                            }
                          
                       
                      </ul>
                    </div>
                  </div>
             }
        </div>
        <div class="mb-1">
          
            
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">repassword</label>
            <input formControlName="rePassword" type="repassword" id="default-input" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (register.getError('mismatch') && register.get('rePassword')?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                    
                        <ul class="mt-1.5 list-disc list-inside">
                           
                                <li>password confirmation is incorrect</li>
    
                            
                          
                          
                       
                      </ul>
                    </div>
                  </div>
             }
             @if (register.get('rePassword')?.getError('requierd')&& register.get('rePassword')?.touched) {
                <li>rePasswordWORD requierd/li>
             }
        </div>
    
        <div class="mb-1">
            @let phoneControl=register.get('phone');
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">phone</label>
            <input formControlName="phone" type="tel" id="default-input" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (phoneControl?.errors && phoneControl?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                    
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (phoneControl?.getError('requierd')) {
                                <li>phone is requierd</li>
    
                            }
                            @else if (phoneControl?.getError('pattern')) {
                                <li>Enter vailed phone </li>
                            }
                          
                       
                      </ul>
                    </div>
                  </div>
             }
        </div>
        <button [disabled]="isloading" type="submit" class="btn-main">signUp
            @if(isloading){
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
        </button>
    </form>
</section>