<footer>
    <div class="bg-slate-800 flex justify-between items-center p-5">
      <div class="apple flex gap-2 px-5 py-2 bg-slate-600 text-white mx-5 my-5 rounded-md">
        <i class="fa-brands fa-apple fa-3x"></i>
        <div class="flex flex-col">
          <p class="text-xs">Avaliable on the</p>
          <h5>App Store</h5>
        </div>
      </div>
      <ul class="social flex gap-4 ml-3">
        <li>
          <i class="fa-brands fa-facebook text-white text-xs"></i>
        </li>
        <li>
          <i class="fa-brands fa-twitter text-white  text-xs"></i>
        </li>
        <li>
          <i class="fa-brands fa-linkedin-in text-white  text-xs"></i>
        </li>
        <li>
          <i class="fa-brands fa-youtube-square text-white  text-xs"></i>
        </li>
      </ul>
    </div>
   </footer>